Repository liquity/dev, pull requests merged in 2021-04, with the labels that each got.

#502 feat: add `liquidityMiningLQTYRewardRate` to `EthersLiquityConnection`
  docs/sdk/lib-ethers.ethersliquityconnection.liquiditymininglqtyrewardrate.md
  docs/sdk/lib-ethers.ethersliquityconnection.md
  packages/lib-ethers/deployments/default/goerli.json
  packages/lib-ethers/deployments/default/kovan.json
  packages/lib-ethers/deployments/default/mainnet.json
  packages/lib-ethers/deployments/default/rinkeby.json
  packages/lib-ethers/deployments/default/ropsten.json
  packages/lib-ethers/etc/lib-ethers.api.md
  packages/lib-ethers/src/EthersLiquityConnection.ts
  packages/lib-ethers/src/contracts.ts
  packages/lib-ethers/utils/deploy.ts
Labels: middleware

#503 fix: fix `MODULE_NOT_FOUND` error due to missing `dev.json`
  packages/lib-ethers/.npmignore
  packages/lib-ethers/package.json
  packages/lib-ethers/scripts/delete-dev-deployments.ts
Labels: middleware

#504 devui: Update yield information on Stability Pool and Farm
  packages/dev-frontend/src/components/Farm/views/Yield.tsx
  packages/dev-frontend/src/components/Stability/Yield.tsx
Labels: frontend

#506 Display pool share on Stability and Staking panels
  packages/dev-frontend/src/components/Stability/ActiveDeposit.tsx
  packages/dev-frontend/src/components/Stability/StabilityDepositEditor.tsx
  packages/dev-frontend/src/components/Staking/ReadOnlyStake.tsx
  packages/dev-frontend/src/components/Staking/StakingEditor.tsx
Labels: frontend

#508 devui: clarify recovery mode where possible
  packages/dev-frontend/src/components/RiskyTroves.tsx
  packages/dev-frontend/src/components/SystemStats.tsx
  packages/dev-frontend/src/components/Trove/CollateralRatio.tsx
Labels: frontend

#507 devui: include pool share in farm panel
  packages/dev-frontend/src/components/Farm/views/Active/Active.tsx
  packages/dev-frontend/src/components/Farm/views/Adjusting/Adjusting.tsx
  packages/dev-frontend/src/components/Farm/views/Staking/Staking.tsx
Labels: frontend

#510 devui: increase pool share decimal places
  packages/dev-frontend/src/components/Farm/views/Adjusting/Adjusting.tsx
  packages/dev-frontend/src/components/Stability/ActiveDeposit.tsx
  packages/dev-frontend/src/components/Stability/StabilityDepositEditor.tsx
  packages/dev-frontend/src/components/Staking/ReadOnlyStake.tsx
  packages/dev-frontend/src/components/Staking/StakingEditor.tsx
Labels: frontend

#505 Economic simulations 2
  packages/contracts/.gitignore
  packages/contracts/tests/helpers.py
  packages/contracts/tests/simulation_helpers.py
  packages/contracts/tests/simulation_test.py
Labels: backend, testing

#514 Coverage post mainnet
  packages/contracts/test/BorrowerOperationsTest.js
  packages/contracts/test/TroveManagerTest.js
  packages/contracts/test/TroveManager_RecoveryModeTest.js
  packages/contracts/utils/testHelpers.js
Labels: backend, coverage, testing

#525 feat!: have only one Trove/StabilityDeposit per User
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/Global.ts
  packages/subgraph/src/entities/StabilityDeposit.ts
  packages/subgraph/src/entities/Trove.ts
  packages/subgraph/src/entities/User.ts
  packages/subgraph/subgraph.yaml
Labels: subgraph

#533 subgraph: Rename subgraph
  packages/subgraph/package.json
Labels: subgraph

#531 subgraph: add subgraph entities for LQTY staking
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/Global.ts
  packages/subgraph/src/entities/LqtyStake.ts
  packages/subgraph/src/entities/SystemState.ts
  packages/subgraph/src/mappings/LqtyStake.ts
  packages/subgraph/src/mappings/TroveManager.ts
  packages/subgraph/subgraph.yaml
Labels: subgraph

#534 subgraph: lqty changes - missed off previous PR
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/Global.ts
  packages/subgraph/src/entities/LqtyStake.ts
  packages/subgraph/src/mappings/LqtyStake.ts
  packages/subgraph/src/mappings/TroveManager.ts
  packages/subgraph/subgraph.yaml
Labels: subgraph

#540 devui: choose borrow amount when opening trove and net debt when adjusting a trove
  packages/dev-frontend/src/App.test.tsx
  packages/dev-frontend/src/components/Trove/Adjusting.tsx
  packages/dev-frontend/src/components/Trove/Opening.tsx
  packages/dev-frontend/src/components/Trove/Trove.tsx
  packages/dev-frontend/src/components/Trove/TroveEditor.tsx
  packages/dev-frontend/src/components/Trove/validation/validateTroveChange.tsx
Labels: frontend

#545 devui: update min borrow amount and sync backend changes
  packages/dev-frontend/src/components/Trove/Adjusting.tsx
  packages/dev-frontend/src/components/Trove/Opening.tsx
  packages/dev-frontend/src/components/Trove/TroveEditor.tsx
Labels: frontend

#551 Add tokens to subgraph
  packages/subgraph/abi/ERC20.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/Token.ts
  packages/subgraph/src/entities/TokenAllowance.ts
  packages/subgraph/src/entities/TokenBalance.ts
  packages/subgraph/src/mappings/Token.ts
  packages/subgraph/src/mappings/TroveManager.ts
  packages/subgraph/src/utils/constants.ts
  packages/subgraph/subgraph.yaml
Labels: subgraph
